{% import "_includes/forms" as forms %}

<h2>Plugin Settings</h2>

{{ forms.lightswitchField({
    label: "Show Link in Navigation bar?"|t,
    on: settings.hasCpSection,
    name: 'hasCpSection',
}) }}

{{ forms.textField({
    label: "Plugin Name"|t,
    name: 'pluginName',
    instructions: "This replaces the text in the plugin list, and the navigation bar if it's enabled"|t,
    value: settings.pluginName,
    errors: settings.getErrors('pluginName')
}) }}